body {
    background: #ECEEF1;
    margin: 0px;
    padding: 0px;
    }

.header {
margin-top:50px;
}

.signUp-header {
    display:flex;
    margin-left: 80%;
}

.text-1 {
    font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #505050;
}

.text-2 {
    font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    margin-top: 10px;
}
.signUp-button {
    border-radius: 4px;
    color: white;
    background: #0077C5;
    padding:10px;
    border: 1px solid #4c4c4c;
    margin-left: 20px;
    font-size: 20px;
    letter-spacing: normal;
    word-spacing: normal;
    text-align: center;
    align-items: flex-start;
}

.main-cont {
    display: flex;
    flex-direction: column;
    margin: 0px 100px;
}

.intuit-brand-logo {
    height : 80px;
    width: 200px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}

.three-icons-cont {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin-left: 750px;
    
}



.mainForm-cont {
    display: block;
    background-color: white;
    border: 1px solid #c7c7c7;
    margin : 0 auto;
    margin-top: 50px;
    font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    border-radius: 2px;
    box-shadow: none;
}
.intuitHead {
    display:block;
    color: #4C4C4C;
    font-weight: 400;
    line-height: 1.1;
    font-size: 24px;
    font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.intuitAcount {
    display: block;
    padding-top: 20px;
    font-weight: 300;
    line-height: 1.2;
}